<section class="resource-views-list">
  <app-generic-list
    [columns]="columns"
    [rows]="rows"
    rowIdKey="id"
    searchPlaceholder="Search resource views"
    addButtonLabel="Add new"
    [selectable]="true"
    [rowActions]="rowActions"
    [toolbarActions]="toolbarActions"
    [editableCell]="editingCell"
    (add)="onAddView()"
    (selectionChange)="onSelectionChange($event)"
    (toolbarAction)="onToolbarAction($event)"
    (editableCellValueChange)="onEditValueChange($event)"
    (rowAction)="onOpenView($event)"
  />
</section>
